<!-- @if (slotsnotselected === true) {
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p><strong>No slot Selected</strong> Please try to select one slot!!</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
} -->
@if (paymentfailed === true) {
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p><strong>Payment failed!!!</strong> Cannot book your slot</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
}


<div class="container mt-4">
  <div class="row mb-3 text-center">
    <div class="col">
      <button class="btn btn-primary me-2 week-nav-btn" (click)="previousWeek()">Previous Week</button>
      <button class="btn btn-primary week-nav-btn" (click)="nextWeek()">Next Week</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="align-middle">Time Slot</th>
            <th *ngFor="let day of weekDays" class="align-middle">{{ day | date: 'EEE, MMM d, y' }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <td class="align-middle">{{ timeSlot }}</td>
            <td *ngFor="let day of weekDays" class="align-middle">
              <ng-container *ngIf="bookings[formatDate(day)][timeSlot] !== '--'; else unavailable">
                <input
                  type="checkbox"
                  [checked]="bookings[formatDate(day)][timeSlot]"
                  [disabled]="bookings[formatDate(day)][timeSlot] === 'booked' || isPastDate(day)"
                  (change)="toggleBooking(formatDate(day), timeSlot)"
                  
                />
                <span *ngIf="bookings[formatDate(day)][timeSlot] === 'booked'" class="booked-slot">Booked</span>
              </ng-container>
              <ng-template #unavailable>
                {{ bookings[formatDate(day)][timeSlot] }}
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-secondary" (click)="payandsubmitBookings()" disabled>Pay Now!!</button>
      @if (slotsnotselected === false) {
        <button class="btn btn-sm btn-success " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book Now!!</button>
      }
      @if (slotsnotselected === true) {
        <button class="btn btn-sm btn-success  " data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Book Now!!</button>
      }
     
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Select the payment type</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="card payment-card" [class.selected]="patientsBooking.paymentType === 'Card'" (click)="togglePaymentType('Card')">
              <div class="card-body">
                Card
                <i *ngIf="patientsBooking.paymentType === 'Card'" class="bi bi-check-circle selected-icon"></i>
              </div>
            </div>
            <div class="card payment-card" [class.selected]="patientsBooking.paymentType === 'Cash'" (click)="togglePaymentType('Cash')">
              <div class="card-body">
                Cash
                <i *ngIf="patientsBooking.paymentType === 'Cash'" class="bi bi-check-circle selected-icon"></i>
              </div>
            </div>
            <div class="card payment-card" [class.selected]="patientsBooking.paymentType === 'UPI'" (click)="togglePaymentType('UPI')">
              <div class="card-body">
                UPI
                <i *ngIf="patientsBooking.paymentType === 'UPI'" class="bi bi-check-circle selected-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          @if (patientsBooking.paymentType==='') {
            <button type="button" class="btn btn-primary" (click)="onProceed()" disabled>Payment Done!</button>

          }
          @if (patientsBooking.paymentType!=='') {
            <button type="button" class="btn btn-primary" (click)="onProceed()">Payment Done!</button>
          }
          
          
        </div>
      </div>
    </div>
  </div>
  
  
</div>



