<div class="container mt-5"  style="width: 75%;">
  <div class="row justify-content-center" >
    <div class="col-md-8 form-container">
      <h2 class="mb-4 text-center">Patient Booking Form</h2>
      @if (nulled === true) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p><strong>Null values!</strong> Please fill all the details</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      }
      <form id="patientForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="patientName">Patient Name</label>
              <input name="patientname" type="text" class="form-control" id="patientName" value="{{patient.name}}" disabled required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="age">Age</label>
              <input name="age" type="number" class="form-control" id="age" value="{{age}}" disabled required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="weight">Weight (kg)</label>
              <input [(ngModel)]="formData.weight" name="weight" type="text" class="form-control" id="weight" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="gender">Gender</label>
              <input name="gender" type="text" id="gender" value="{{patient.gender}}" disabled required>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input name="phone" type="tel" class="form-control" id="phone" value="{{patient.phone}}" disabled required>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="bp">Blood Pressure</label>
              <input [(ngModel)]="formData.bp" name="bp" type="text" class="form-control" id="bp" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="spo2">SPO2 (%)</label>
              <input [(ngModel)]="formData.spo2" name="spo2" type="number" class="form-control" id="spo2" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="temp">Temperature (°C)</label>
              <input [(ngModel)]="formData.temperature" name="temperature" type="number" class="form-control" id="temp" required>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="symptoms">Symptoms</label>
          <textarea [(ngModel)]="formData.symptoms" name="symptoms" class="form-control" id="symptoms" rows="3" required></textarea>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="specialist">Doctor</label>
              <select [(ngModel)]="selectedDoctor" (ngModelChange)="onDoctorChange($event)" name="doctor" class="form-select" aria-label="Default select example">
                <option selected disabled value="">Select the doctor name - specialization</option>
                <option *ngFor="let item of doctors" [ngValue]="item">{{item.name}}-{{item.specialisation}}</option>
              </select>
              
            </div>
          </div>
          <!-- <div class="col">
            <div class="form-group">
              <label for="specialist">Doctor Id</label>
              <select [(ngModel)]="formData.doctorId" name="doctorId" class="form-select" aria-label="Default select example">
                <option selected disabled value="">Select the doctor Id carefully</option>
                <option *ngFor="let item of doctors">{{item.email}}</option>
              </select>
            </div>
          </div> -->
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4 submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
