<div class="container mt-5" style="width: 75%;">
  <div class="row justify-content-center">
    <div class="col-md-8 form-container">
      <h2 class="mb-4 text-center">Patient Booking Form</h2>
      <div *ngIf="nulled" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p><strong>Null values!</strong> Please fill all the details</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="patientName">Patient Name</label>
              <input name="patientname" type="text" class="form-control" id="patientName" [value]="patient?.name" disabled required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="age">Age</label>
              <input name="age" type="number" class="form-control" id="age" [value]="age" disabled required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="weight">Weight (kg)</label>
              <input formControlName="weight" name="weight" type="text" class="form-control" id="weight" required>
              <div *ngIf="weight?.invalid && (weight?.touched || weight?.dirty)" class="text-danger">
                Weight is required
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="gender">Gender</label>
              <input name="gender" type="text" class="form-control" id="gender" [value]="patient?.gender" disabled required>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input name="phone" type="tel" class="form-control" id="phone" [value]="patient?.phone" disabled required>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="bp">Blood Pressure</label>
              <input formControlName="bp" name="bp" type="text" class="form-control" id="bp" required>
              <div *ngIf="bp?.invalid && (bp?.touched || bp?.dirty)" class="text-danger">
                <div *ngIf="bp?.errors?.['required']">Blood Pressure is required</div>
                <div *ngIf="bp?.errors?.['min'] || bp?.errors?.['max']">Blood Pressure must be between 60 and 185</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="spo2">SPO2 (%)</label>
              <input formControlName="spo2" name="spo2" type="number" class="form-control" id="spo2" required>
              <div *ngIf="spo2?.invalid && (spo2?.touched || spo2?.dirty)" class="text-danger">
                <div *ngIf="spo2?.errors?.['required']">SPO2 is required</div>
                <div *ngIf="spo2?.errors?.['min'] || spo2?.errors?.['max']">SPO2 must be between 85 and 100</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="temp">Temperature (°F)</label>
              <input formControlName="temperature" name="temperature" type="number" class="form-control" id="temp" required>
              <div *ngIf="temperature?.invalid && (temperature?.touched || temperature?.dirty)" class="text-danger">
                <div *ngIf="temperature?.errors?.['required']">Temperature is required</div>
                <div *ngIf="temperature?.errors?.['min'] || temperature?.errors?.['max']">Temperature must be between 94.0 and 110.0</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="symptoms">Symptoms</label>
          <textarea formControlName="symptoms" name="symptoms" class="form-control" id="symptoms" rows="3" required></textarea>
          <div *ngIf="symptoms?.invalid && (symptoms?.touched || symptoms?.dirty)" class="text-danger">
            Symptoms are required
          </div>
        </div>
        <div class="row mb-3">
        <div class="col">
            <div class="form-group">
              <label for="specialist">Doctor</label>
              <select formControlName="doctor" [(ngModel)]="selectedDoctor" (ngModelChange)="onDoctorChange($event)" name="doctor" class="form-select" aria-label="Default select example">
                <option selected disabled value="">Select the doctor name - specialization</option>
                <option *ngFor="let item of doctors" [ngValue]="item">{{item.name}}-{{item.specialisation}}</option>
              </select>
              <div *ngIf="doctor?.invalid && (doctor?.touched || doctor?.dirty)" class="text-danger">
                Doctor selection is required
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4 submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
