<div class="dash">
    <div class="sidebar">
      <a href="/dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <h4 style="font-family: Georgia, 'Times New Roman';">ADMIN</h4>
      </a>
      <a href="/viewPayments" class="active" style="font-size: larger;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Payment History</b></a>
      <a href="/stats" style="font-size: larger;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Statistics</b></a>
    </div>
  
    <div class="content" style="background-color: rgb(227, 227, 229);">
      <h3 class="my-3 text-center" >Payment history </h3>

      <table class="table shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead>
          <tr>
  
            <th scope="col">Patient Name</th>
            <th scope="col">Doctor</th>
            <th scope="col">Doctor Id</th>
            <th scope="col">Transaction date</th>
            <th scope="col">Transaction Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bookings;">
            @if (item.transactionId!=null) {
           
            <td>{{item.name}}</td>
            <td>{{item.doctor}}</td>
            <td>{{item.doctorId}}</td>
            <td>{{item.date}}</td>
            <td>{{item.transactionId}}</td>

            }
            
          </tr>
     
        </tbody>
      </table>
     
    </div>
    
  </div>
  
  