<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 form-container">
      <h2 class="mb-4 text-center">Patient Registration</h2>
      <div *ngIf="exists" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p><strong>Patient already exists</strong>, please try to login</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="create" class="alert alert-success alert-dismissible fade show" role="alert">
        <p><strong>Patient created</strong>, please try to login</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input formControlName="name" name="name" type="text" class="form-control" id="name" required>
          <div *ngIf="name?.invalid && name?.touched" class="text-danger">
            Name is required
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="dob">Date of Birth</label>
          <input formControlName="dob" name="dob" type="date" class="form-control" id="dob" required>
          <div *ngIf="dob?.invalid && dob?.touched" class="text-danger">
            Date of Birth is required
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="gender">Gender</label>
          <select formControlName="gender" name="gender" class="form-control" id="gender" required>
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <div *ngIf="gender?.invalid && gender?.touched" class="text-danger">
            Gender is required
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="phone">Phone</label>
          <input formControlName="phone" name="phone" type="tel" class="form-control" id="phone" required>
          <div *ngIf="phone?.invalid && phone?.touched" class="text-danger">
            <div *ngIf="phone?.errors?.['required']">Phone is required</div>
            <div *ngIf="phone?.errors?.['pattern']">Phone number must be 10 digits</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="width:25%; margin-left: 40%;">Submit</button>
      </form>
    </div>
  </div>
</div>
